<div class="container-fluid">
  <div class="row">
    <div [ngClass]="{ 'col-md-8': showDetail }" >
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <p>
            Browse Orders <span *ngIf="!orders" class="flash"><em> Loading...</em></span>
            <button *ngIf="!showDetail" class="btn btn-primary panel-title pull-right" (click)="showNewOrder()">New Order </button>
          </p>
        </div>
        <div class="table-responsive">
          <table class="table" *ngIf="orders">
            <thead>
              <tr>
                <th>Id</th>
                <th>Date Received</th>
                <th>Customer</th>
                <th>City</th>
                <th>Street</th>
                <th>Operation</th>
                <th>Notes</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td><a [routerLink]="" (click)="!showDetail && displayOrderForUpdate(order.id)" [class.disabled]="showDetail">{{order.id}}</a></td>
                <td>{{order.dateReceived | date:'short'}}</td>
                <td>{{order.customerName}}</td>
                <td>{{order.cityName}}</td>
                <td>{{order.street}}</td>
                <td>{{order.operationName}}</td>
                <td>{{order.notes}}</td>
                <td>{{Status[order.status]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-md-4': showDetail }" *ngIf="showDetail">
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <p>{{detailTitle}}</p>
        </div>
        <div class='panel-body'>
          <router-outlet name="detail">
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

