<div class="container-fluid">
  <div class="row">
    <div [ngClass]="{ 'col-md-8': showDetail }">
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <p>
            Browse Orders: <span *ngIf="!orders" class="flash"><em> Loading...</em></span>
            <button class="btn btn-primary btn-xs panel-title pull-right" (click)="showNewOrder()">New Order</button>
            <button class="btn btn-primary btn-xs panel-title pull-right" (click)="scheduleOrders()">Schedule Orders</button>
          </p>
          <div class="panel-title">
            <pagination [boundaryLinks]="true" [totalItems]="orderCount" [pageBtnClass]="btn-xs" [rotate]="false" [itemsPerPage]="10"
                        (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        <div class="table-responsive">
          <table class="table table-striped table-condensed table-hover" *ngIf="orders">
            <thead>
              <tr>
                <th style="width: 3%">Id</th>
                <th style="width: 10%">Date Received</th>
                <th class="col-md-1">Customer</th>
                <th class="col-md-2">City</th>
                <th class="col-md-2">Street</th>
                <th class="col-md-1">Operation</th>
                <th class="col-md-3">Notes</th>
                <th class="col-md-1">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; let i = index" (click)="setClickedRow(i, order.id)" [class.active]="i == selectedRow">
                <td>{{order.id}}</td>
                <td>{{order.dateReceived | date:'short'}}</td>
                <td>{{order.customerName}}</td>
                <td>{{order.cityName}}</td>
                <td>{{order.street}}</td>
                <td>{{order.operationName}}</td>
                <td>{{order.notes}}</td>
                <td>{{Status[order.status]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="showDetail" class="col-md-4">
      <router-outlet name="detail">
      </router-outlet>
    </div>
    
  </div>
</div>

