.table tr.active td {
  background-color: lightgray !important;
  color: white;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.radio-inline + .radio-inline {
  margin-left: 0;
}

.radio-inline {
  margin-right: 10px;
}

a {cursor: pointer;}
