<div class="container">
  <h1>New Order</h1>
   <div>
    <form #orderForm="ngForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="customer">Customer</label>
        <select class="form-control" id="customer" required [(ngModel)]="model.customerId" name="customer">
          <option *ngFor="let customer of metaData.customers" [value]="customer.id">{{customer.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" id="city" required [(ngModel)]="model.cityId" name="city">
          <option *ngFor="let city of metaData.cities" [value]="city.id">{{city.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="operation">Operation</label>
        <select class="form-control" id="operation" required [(ngModel)]="model.operationId" name="operation">
          <option *ngFor="let operation of metaData.operations" [value]="operation.id">{{operation.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" id="street" required [(ngModel)]="model.street" name="street" #name="ngModel" />
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Street is required
        </div>
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <input type="text" class="form-control" id="notes" [(ngModel)]="model.notes" name="notes">
      </div>
      <button type="submit" class="btn btn-success" [disabled] ="!orderForm.form.valid">Submit</button>
    </form>
  </div>
</div>
